# 22 - Memantau Penggunaan Memory (Memory Usage) pada Suatu Data Frame

## Import Modules

### Module yang digunakan :
1. pandas

In [5]:
import pandas as pd

- Mengecheck versi dari module yang digunakan yaitu pandas

In [6]:
print(pd.__version__)

1.0.5

## Membuat Dua Data Frame

- Mengubah format data set *titanicfull.csv* menjadi format data frame dengan menggunakan method `pd.read_csv`.
- `head()` unruk menampilkan 5 baris pertama dari data frame.

In [16]:
df_titanic = pd.read_csv('C:/Users/ASUS/Desktop/Belajar-Python-Pandas/titanicfull.csv')
df_titanic.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S

- Menggunakan iris data set yang terdiri atas 6 kolom, yaitu Id, SepalLenghtCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, dan Species.

In [18]:
df_iris = pd.read_csv('C:/Users/ASUS/Desktop/Belajar-Python-Pandas//Iris.csv')
df_iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

## Memantau Penggunaan Memory suatu Data Frame

- Memanggil `info()` yang disertai parameter `memory_usage` yang diberikan nilai `'deep'` untuk menampilkan informasi detail dari penggunaan memory pada data frame `df_titanic`.

In [19]:
df_titanic.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1309 non-null   int64
 1   survived  1309 non-null   int64
 2   name      1309 non-null   object
 3   sex       1309 non-null   object
 4   age       1046 non-null   float64
 5   sibsp     1309 non-null   int64
 6   parch     1309 non-null   int64
 7   ticket    1309 non-null   object
 8   fare      1308 non-null   float64
 9   cabin     295 non-null    object
 10  embarked  1307 non-null   object
dtypes: float64(2), int64(4), object(5)
memory usage: 457.9 KB

- Memanggil `info()` yang disertai parameter `memory_usage` yang diberikan nilai `'deep'` untuk menampilkan informasi detail dari penggunaan memory pada data frame `df_iris`.

In [20]:
df_iris.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 16.3 KB

## Memantau Penggunaan Memory untuk Setiap Kolom dari suatu Data Frame

- Memanggil `memory_usage` yang disertai oleh parameter `deep` yang diberi nilai `True` untuk menampilkan informasi penggunaan memory di setiap kolom pada data frame `df_titanic`.

In [21]:
df_titanic.memory_usage(deep=True)

Index          128
pclass       10472
survived     10472
name        110127
sex          80781
age          10472
sibsp        10472
parch        10472
ticket       83502
fare         10472
cabin        50390
embarked     81098
dtype: int64

- Memanggil `memory_usage` yang disertai oleh parameter `deep` yang diberi nilai `True` untuk menampilkan informasi penggunaan memory di setiap kolom pada data frame `df_iris`.

In [15]:
df_iris.memory_usage(deep=True)

Index              128
Id                1200
SepalLengthCm     1200
SepalWidthCm      1200
PetalLengthCm     1200
PetalWidthCm      1200
Species          10550
dtype: int64

#### Note:
Satuan yang digunakan dari data memory usage yang ditampilkan adalah byte.