# 47 - Deteksi dan Penanganan Kolom dengan Tipe Data Beragam (Mixed Data Types)

## Import Modules
### Module yang digunakan :
1. pandas

In [2]:
import pandas as pd

- Mengecheck versi dari module yang digunakan yaitu pandas

In [3]:
print(pd.__version__)

1.0.5

## Membuat Data Frame

- Membuat dictionary `d` yang terdiri atas pasangan keys (nama dan ipk) dan valuesnya. 
- Membuat data frame yang nilainya adalah `d`.

In [4]:
d = {'nama':['bejo', 'tejo', 'wati', 'tiwi', 'cecep'], 
     'ipk':[2, '3', 3, 2.75, '3.25']}
df = pd.DataFrame(d)
df

    nama   ipk
0   bejo     2
1   tejo     3
2   wati     3
3   tiwi  2.75
4  cecep  3.25

## Deteksi dan Penanganan Kolom dengan Tipe Data Beragam (Mixed Data Types)

- menampilkan tipe data dari data frame dengan memanggil `df.dtypes`

In [5]:
df.dtypes

nama    object
ipk     object
dtype: object

- mendeteksi mixed data type pada kolom ipk dengan memanggil `df['ipk'].apply(type)`

In [5]:
df['ipk'].apply(type)

0      <class 'int'>
1      <class 'str'>
2      <class 'int'>
3    <class 'float'>
4      <class 'str'>
Name: ipk, dtype: object

- membuat summary berupa jumlah tiap data type yang berbeda dari output `df['ipk'].apply(type)` dengan memanggil method `value_counts)`

In [6]:
df['ipk'].apply(type).value_counts()

<class 'str'>      2
<class 'int'>      2
<class 'float'>    1
Name: ipk, dtype: int64

- mengkonversi tipe data yang tersimpan pada kolom ipk ke tipe data float dengan memanggil `df['ipk'].astype(float)`yang perubahannya tidak in place sehingga perlu menampungnya kembali ke `df['ipk]` menyimpan hasilnya.

In [7]:
df['ipk'] = df['ipk'].astype(float)

- membuat summary berupa jumlah tiap data type yang berbeda dari output `df['ipk'].apply(type)` dengan memanggil method `value_counts)`

In [8]:
df['ipk'].apply(type).value_counts()

<class 'float'>    5
Name: ipk, dtype: int64