# 43 - Menangani Whitespace pada Data Frame

## Import Modules

### Module yang digunakan :
1. pandas
2. numpy

In [13]:
import pandas as pd
import numpy as np

- Mengecheck versi dari 2 module yang digunakan (pandas dan numpy)

In [14]:
print(pd.__version__)
print(np.__version__)

1.0.5
1.18.5

## Membuat sebuah Pandas Data Frame.

- Membuat diictionary `data` yang terdiri atas pasangan keys (nim dan nama) dan valuesnya. Pada kolom nim dan nama terdapat whitespace.
- Membuat data frame yang nilainya adalah `data`.

In [15]:
data = {'nim': ['10', '11', '12', '13', '  '],
        'nama': ['adi', '  ', 'tejo', '  ', 'bejo']}

df = pd.DataFrame(data)
df

  nim  nama
0  10   adi
1  11
2  12  tejo
3  13
4      bejo

## Menangani Whitespace pada Data Frame

- Menampilkan data frame `df`

In [9]:
df

  nim  nama
0  10   adi
1  11
2  12  tejo
3  13
4      bejo

- Menampilkan info dari data frame `df`. Akan tetapi, whitespace tidak dianggap sebagai missing value.

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nim     5 non-null      object
 1   nama    5 non-null      object
dtypes: object(2)
memory usage: 208.0+ bytes

- Mendeteksi karakter spasi ' ' sebagai missing values dengan memanfaatkan replace(r'^\s*$', np.nan, regex=True)

In [11]:
df = df.replace(r'^\s*$', np.nan, regex=True)
df

   nim  nama
0   10   adi
1   11   NaN
2   12  tejo
3   13   NaN
4  NaN  bejo

- Menampilkan info dari data frame `df` yang sudah mendeteksi whitespace sebagai missing values.

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nim     4 non-null      object
 1   nama    3 non-null      object
dtypes: object(2)
memory usage: 208.0+ bytes