# 21 - Agregasi pada Pandas Data Frame dengan menggunakan fungsi agg()

## Import Modules

### Module yang digunakan :
1. pandas

In [2]:
import pandas as pd

- Mengecheck versi dari module yang digunakan yaitu pandas

In [3]:
print(pd.__version__)

1.0.5

## Membuat Sebuah Data Frame

Pada kesempatan kali ini, kita akan menggunakan iris data set yang terdiri atas 6 kolom, yaitu *Id*, *SepalLenghtCm*, *SepalWidthCm*, *PetalLengthCm*, *PetalWidthCm*, dan *Species*.

In [4]:
df = pd.read_csv('C:/Users/ASUS/Desktop/Belajar-Python-Pandas//Iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

## Mengenal `groupby()` dan Fungsi Agregasi

Fungsi agregasi merupakan sebuah fungsi yang dikenakan terhadap suatu kelompok data dan berkaitan erat dengan mekanisme pengelompokkan data yang biasa dikenal dengan grouping atau `groupby()`.

- Mengelompokkan data frame berdasarkan *Species* yang pada bagian kolom *PetalLengthCm*nya akan dikenakan sebuah fungsi agregasi yaitu `count()` untuk menghitung jumlah barisnya.

#### Note :
`to_frame()` digunakan untuk menampilkan data yang dihasilkan ke dalam bentuk frame dan menghasilkan tampilan yang lebih rapi.

In [10]:
df.groupby('Species')['PetalLengthCm'].count().to_frame()

                 PetalLengthCm
Species
Iris-setosa                 50
Iris-versicolor             50
Iris-virginica              50

- Mengelompokkan data frame berdasarkan *Species* yang pada bagian kolom *PetalLengthCm*nya akan dikenakan sebuah fungsi agregasi yaitu `mean()` untuk menghitung nilai rata-ratanya.

In [11]:
df.groupby('Species')['PetalLengthCm'].mean().to_frame()

                 PetalLengthCm
Species
Iris-setosa              1.464
Iris-versicolor          4.260
Iris-virginica           5.552

- Mengelompokkan data frame berdasarkan *Species* yang pada bagian kolom *PetalLengthCm*nya akan dikenakan sebuah fungsi agregasi yaitu `median()` untuk menghitung nilai mediannya.

In [9]:
df.groupby('Species')['PetalLengthCm'].median().to_frame()

                 PetalLengthCm
Species
Iris-setosa               1.50
Iris-versicolor           4.35
Iris-virginica            5.55

## Agregasi dengan `agg()`

`agg()` digunakan untuk mengelompokkan suatu data yang dikenakan oleh banyak fungsi agregasi secara sekaligus.

- Mengelompokkan data frame berdasarkan *Species* yang pada bagian kolom *PetalLengthCm*nya akan dikenakan banyak fungsi agregasi *secara sekaligus* dengan menggunakan fungsi `agg()` yang diberikan sebuah parameter berupa list.

- Parameter fungsi `agg()` berupa list tersebut berisikan fungsi-fungsi agregasi yang akan digunakan, yaitu `count()` untuk menghitung jumlah barisnya, `mean()` untuk menghitung nilai rata-ratanya, dan `median()` untuk menghitung nilai mediannya

In [14]:
df.groupby('Species')['PetalLengthCm'].agg(['count', 'mean', 'median'])

                 count   mean  median
Species
Iris-setosa         50  1.464    1.50
Iris-versicolor     50  4.260    4.35
Iris-virginica      50  5.552    5.55

## Agregasi dengan `describe()`
`describe()` digunakan untuk menampilkan data deskriptif statistika yang berisi count, mean, standar deviasi, nilai minimum, quartal 1, quartal 2, quartal 3, dan nilai maksimum  dari data frame.

- Mengelompokkan data frame berdasarkan *Species* 
- Menspesifikasikan kolom yang akan diamati yaitu *PetalLengthCm*
- Memanggil fungsi `describe()`

In [15]:
df.groupby('Species')['PetalLengthCm'].describe()

                 count   mean       std  min  25%   50%    75%  max
Species
Iris-setosa       50.0  1.464  0.173511  1.0  1.4  1.50  1.575  1.9
Iris-versicolor   50.0  4.260  0.469911  3.0  4.0  4.35  4.600  5.1
Iris-virginica    50.0  5.552  0.551895  4.5  5.1  5.55  5.875  6.9