# 01 - Menyertakan Prefix dan Suffix pada seluruh Kolom Pandas Data Frame

## Import Modules

### Module yang digunakan :
1. pandas
2. numpy

In [1]:
import pandas as pd
import numpy as np

- Mengecheck versi dari 2 module yang digunakan (pandas dan numpy)

In [2]:
print(pd.__version__)
print(np.__version__)

1.0.5
1.18.5

## Membuat sebuah Pandas Data Frame.

- Data frame yang akan dibuat memiliki 5 baris, 5 kolom, serta untuk setiap kolomnya diberi label A, B, C, D, dan E.

- Untuk mebuat labelnya, kita dapat menggunakan tuple yang dikenakan terhadap String.

- ex : String 'ABCDE' yang dikenakan/dikonversi ke tuple akan menghasilkan tuple 'A', 'B', 'C', 'D', dan 'E'.

> *pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)*

- *pd.DataFrame()* digunakan untuk membuat sebuah objek data frame

- *np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)* artinya data frame akan diisi oleh bilangan integer dengan jangkauan 1-10 (1,2,3,4,5,6,7,8,9) yang dipilih secara random. Kemudian, untuk size yang digunakan ditentukan oleh n_rows dan n_cols.

In [3]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)
df

   A  B  C  D  E
0  3  5  9  9  5
1  1  2  7  4  7
2  6  8  4  9  2
3  3  3  9  9  1
4  4  7  5  4  4

## Menyertakan Prefix Kolom pada Data Frame.

Prefix ialah Sekumpulan String yang ditambahkan di depan suatu String tertentu.

Sebagai contoh, kita ingin mengubah nama kolom 'A', 'B', 'C', 'D', dan 'E' menjadi 'Kolom_A', 'Kolom_B', 'Kolom_C', 'Kolom_D', dan 'Kolom_E'. Oleh karena itu, kita perlu memberikan prefix berupa String 'Kolom_' ke nama kolom sebelumnya.

In [7]:
df.add_prefix('Kolom_')

   Kolom_A  Kolom_B  Kolom_C  Kolom_D  Kolom_E
0        1        6        8        6        2
1        7        2        3        6        7
2        2        8        9        1        6
3        8        2        8        7        7
4        1        8        9        3        3

## Menyertakan Suffix Kolom pada Data Frame.

Suffix ialah Sekumpulan String yang ditambahkan di belakang suatu String tertentu.

Sebagai contoh, kita ingin mengubah nama kolom 'A', 'B', 'C', 'D', dan 'E' menjadi 'A_Field', 'B_Field', 'C_Field', 'D_Field', dan 'E_Field'. Oleh karena itu, kita perlu memberikan suffix berupa String '_Field' ke nama kolom sebelumnya.

In [4]:
df.add_suffix('_Field')

   A_Field  B_Field  C_Field  D_Field  E_Field
0        3        5        9        9        5
1        1        2        7        4        7
2        6        8        4        9        2
3        3        3        9        9        1
4        4        7        5        4        4