# 51 - Seleksi baris dengan menggunakan `between()`

## Import Modules

### Module yang digunakan :
1. pandas
2. numpy

In [1]:
import pandas as pd
import numpy as np

- Mengecheck versi dari module yang digunakan yaitu pandas dan numpy

In [2]:
print(pd.__version__)
print(np.__version__)

1.0.5
1.18.5

## Membuat Data Frame

- Data frame yang akan dibuat memiliki 10 baris, 5 kolom, serta untuk setiap kolomnya diberi label A, B, C, D, dan E.

- Untuk mebuat labelnya, kita dapat menggunakan tuple yang dikenakan terhadap String.

- ex : String 'ABCDE' yang dikenakan/dikonversi ke tuple akan menghasilkan tuple 'A', 'B', 'C', 'D', dan 'E'.

> `pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)`

- `pd.DataFrame()` digunakan untuk membuat sebuah objek data frame

- `np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)` artinya data frame akan diisi oleh bilangan integer dengan jangkauan 1-10 (1,2,3,..,9) yang dipilih secara random. Kemudian, untuk size yang digunakan ditentukan oleh n_rows dan n_cols.

In [3]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  2  7  5  7  7
1  9  9  8  2  3
2  8  4  2  1  7
3  2  4  2  2  8
4  3  7  5  4  4
5  8  9  7  1  9
6  7  4  8  3  2
7  2  2  3  5  5
8  2  4  2  6  4
9  8  2  9  3  6

## Seleksi baris dengan `between()`

- Menyeleksi baris yang pada kolom A nya memiliki nilai antara 2 sampai 5 (2 dan 5 inclusive (batasannya ikut disertakan)).

In [10]:
df[df['A'].between(2, 5)]

   A  B  C  D  E
0  2  7  5  7  7
3  2  4  2  2  8
4  3  7  5  4  4
7  2  2  3  5  5
8  2  4  2  6  4

- Menyeleksi baris yang pada kolom A nya memiliki nilai antara 2 sampai 5 (2 dan 5 exclusive (batasannya tidak ikut disertakan)).

In [8]:
df[df['A'].between(2, 5, inclusive=False)]

   A  B  C  D  E
4  3  7  5  4  4