# 49 - Seleksi Kolom dengan `f-string`

## Import Modules

### Module yang digunakan :
1. pandas

In [1]:
import pandas as pd

- Mengecheck versi dari module yang digunakan yaitu pandas

In [2]:
print(pd.__version__)

1.0.5

## Membuat Data Frame

- Menggunakan iris data set yang terdiri atas 6 kolom, yaitu Id, SepalLenghtCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, dan Species.

In [3]:
df = pd.read_csv('C:/Users/ASUS/Desktop/Belajar-Python-Pandas//Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

## Seleksi Kolom dengan `f-string`

- Menyeleksi kolom dengan label 'SepalWidthCm' dengan memanggil `df['SepalWidthCm']`.
- Memanggil `to_frame()` untuk merapihkan tampilannya.
- Memanggil `head()` untuk menampilkan 5 baris pertama.

In [4]:
df['SepalWidthCm'].to_frame().head()

   SepalWidthCm
0           3.5
1           3.0
2           3.2
3           3.1
4           3.6

- Membuat variabel `part` yang akan menampung data string `'Sepal'`
- Mengakses isi dari variabel `part` dalam suatu string dengan memanfaatkan `f-string`
> `df[f'{part}WidthCm']`

In [5]:
part = 'Sepal'
df[f'{part}WidthCm'].to_frame().head()

   SepalWidthCm
0           3.5
1           3.0
2           3.2
3           3.1
4           3.6

- Melakukan seleksi dua kolom yaitu kolom 'PetalWidthCm' dan 'PetalLengthCm'

In [6]:
df[['PetalWidthCm', 'PetalLengthCm']].head()

   PetalWidthCm  PetalLengthCm
0           0.2            1.4
1           0.2            1.4
2           0.2            1.3
3           0.2            1.5
4           0.2            1.4

- Membuat variabel `part` yang akan menampung data string `'Petal'`
- Melakukan seleksi kolom dengan memanfaatkan `f-string`
> `df[[f'{part}WidthCm', f'{part}LengthCm']]`

In [7]:
part = 'Petal'
df[[f'{part}WidthCm', f'{part}LengthCm']].head()

   PetalWidthCm  PetalLengthCm
0           0.2            1.4
1           0.2            1.4
2           0.2            1.3
3           0.2            1.5
4           0.2            1.4