# 08 - Memeriksa Kesamaan Antarkolom (Series) pada Data Frame

#Import Modules

Module yang digunakan :
1. pandas
2. numpy

In [1]:
import pandas as pd
import numpy as np

-Mengecheck versi dari 2 module yang digunakan (pandas dan numpy)

In [2]:
print(pd.__version__)
print(np.__version__)

1.0.5
1.18.5

#Membentuk Data Frame

Data frame yang akan dibuat terdiri dari dua buah kolom A dan B dengan data tertentu yaitu [15, 15, 18, np.nan, 12] dan [15, 15, 18, np.nan, 12]. Data untuk kolom A dan B memiliki data yang sama persis.

Kita akan melakukan pengujian kesamaan nilai yang ditampung pada kolom A dan B.

In [5]:
data = {'A' : [15, 15, 18, np.nan, 12],
        'B' : [15, 15, 18, np.nan, 12]}

df = pd.DataFrame(data)
df

      A     B
0  15.0  15.0
1  15.0  15.0
2  18.0  18.0
3   NaN   NaN
4  12.0  12.0

#Mengenal Pandas Series

Pandas series merupakan struktur data lain yang dimiliki pandas selain data frame.

Series pada dasarnya merupakan kolom.

-Membuat pandas seris dengan nama A

In [6]:
df['A']

0    15.0
1    15.0
2    18.0
3     NaN
4    12.0
Name: A, dtype: float64

-Memeriksa type data dari series yang dibentuk

In [7]:
type(df['A'])

pandas.core.series.Series

-Memeriksa type data dari data frame df

In [10]:
type(df)

pandas.core.frame.DataFrame

#Membandingkan nilai yang ditampung oleh dua buah series

-Memeriksa kesamaan dengan operator ==

Setiap baris akan dibandingkan

Untuk baris yang memiliki nilai missing values (NaN), operator ini tidak akan bisa membandingkan nilai pada baris tersebut.

In [11]:
df['A'] == df['B']

0     True
1     True
2     True
3    False
4     True
dtype: bool

-Memeriksa kesamaan dengan method equals()

Akan mengidentifikasi nilai keseluruhan dari dua buah kolom, jika True berarti dua kolom tersebut identik.

In [13]:
df['A'].equals(df['B'])

True

#Memeriksa kesamaan antar dua Data Frame

Untuk memeriksa kesamaan antar dua data frame, kita juga dapat menggunakan method equals dan operator ==.

In [14]:
df1 = df.copy(deep=True)

df.equals(df1)

True

In [15]:
df == df1

       A      B
0   True   True
1   True   True
2   True   True
3  False  False
4   True   True