# 11 - Seleksi Kolom dan Baris pada Data Frame Menggunakan *loc*

#Import Modules

Module yang digunakan :
1. pandas
2. numpy

In [1]:
import pandas as pd
import numpy as np

- Mengecheck versi dari 2 module yang digunakan (pandas dan numpy)

In [2]:
print(pd.__version__)
print(np.__version__)

1.0.5
1.18.5

#Membuat sebuah Pandas Data Frame.

- Data frame yang akan dibuat memiliki 10 baris, 5 kolom, serta untuk setiap kolomnya diberi label A, B, C, D, dan E.

- Untuk mebuat labelnya, kita dapat menggunakan tuple yang dikenakan terhadap String.

- ex : String 'ABCDE' yang dikenakan/dikonversi ke tuple akan menghasilkan tuple 'A', 'B', 'C', 'D', dan 'E'.

>pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

- pd.DataFrame() digunakan untuk membuat sebuah objek data frame

- np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols) artinya data frame akan diisi oleh bilangan integer dengan jangkauan 1-20 (1,2,3,...,19) yang dipilih secara random. Kemudian, untuk size yang digunakan ditentukan oleh n_rows dan n_cols.

In [3]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)
df

    A   B   C   D   E
0   4   2  14  13   3
1   2   1  15  17   6
2  19   5  11   9   7
3   7   6   1  17   9
4  19   8   8   2   2
5  16   7  15   5   6
6   3  13   6   1  15
7   6  15  19   6   8
8   7  16  16   5  11
9   6  11   3  19   8

#Seleksi kolom dan baris dengan menggunakan *loc*

- *loc* merupakan suatu atribut dalam data frame pandas. 
- *loc* terdiri dari dua bagian besar yang dipisahkan oleh tanda koma ',' dan diakses dengan menggunakan [].
- bagian pertama digunakan untuk mengatur baris.
- bagian kedua diguanakan untuk mengatur kolom.

Misalnya, kita hanya ingin menampilkan baris dengan 0, 3, dan 4 serta kolom dengan nama 'B' dan 'E' saja, maka kita dapat memanggil atribut *loc* seperti berikut ini.
>df.loc[[0, 3, 4], ['B', 'E']]

In [4]:
df.loc[[0, 3, 4], ['B', 'E']]

   B  E
0  2  3
3  6  9
4  8  2

#Melakukan seleksi baris dengan kondisi tertentu

Misalnya, kita ingin menampilkan baris yang nilai untuk kolom B nya lebih besar dari 10 dan juga kita hanya ingin menampilkan data dari kolom 'B', 'D', dan 'E'. Untuk melakukan hal tersebut, kita dapat memanggil atribut *loc* seperti berikut.
>df.loc[df['B']>10, ['B', 'D', 'E']]

In [5]:
df.loc[df['B']>10, ['B', 'D', 'E']]

    B   D   E
6  13   1  15
7  15   6   8
8  16   5  11
9  11  19   8

#Slicing data frame dengan menggunakan *loc*

- Slicing baris dilakukan pada bagian pertama dari *loc*
- Slicing kolom dilakukan pada bagian kedua dari *loc*

Misalnya, kita ingin melakukan slicing baris untuk data dengan index ke-0 sampai dengan index ke-4 dan sLicing kolom mulai dari kolom 'B' hingga kolom 'D'. Untuk itu, kita dapat memanggil atribut loc seperti berikut.
>df.loc[0:4, 'B':'D']

Note : Berbeda dengan slicing pada list, start index dan end index slicing pada *loc* bersifat inclusive/ ikut disertakan.

In [7]:
df.loc[0:4, 'B':'D']

   B   C   D
0  2  14  13
1  1  15  17
2  5  11   9
3  6   1  17
4  8   8   2