# 13 - Konversi Nilai Numerik Ke Dalam Kategori Pada Data Frame

# Import Modules

Module yang digunakan :
1. pandas
2. numpy

In [2]:
import pandas as pd
import numpy as np

- Mengecheck versi dari 2 module yang digunakan (pandas dan numpy)

In [3]:
print(pd.__version__)
print(np.__version__)

1.0.5
1.18.5

# Membuat sebuah Pandas Data Frame.

- Data frame yang akan dibuat terdiri atas 10 baris dan 1 kolom dengan nama kolom *usia*.

> df = pd.DataFrame(np.random.randint(1, 99, size=(n_rows, n_cols)), columns=cols)

- pd.DataFrame() digunakan untuk membuat sebuah objek data frame

- np.random.randint(1, 99, size=(n_rows, n_cols)), columns=cols) artinya data frame akan diisi oleh bilangan integer dengan jangkauan 1-99 (1,2,3,...,98) yang dipilih secara random. Kemudian, untuk size yang digunakan ditentukan oleh n_rows dan n_cols.

In [18]:
n_rows = 10
n_cols = 1
cols = ('usia',)

df = pd.DataFrame(np.random.randint(1, 99, size=(n_rows, n_cols)), columns=cols)
df

   usia
0    78
1    30
2    87
3    30
4    79
5     4
6    88
7    38
8    82
9    28

# Pengelompokkan nilai numerik ke dalam beberapa kategori menggunakan *cut()*

Kita akan mengelompokkan data usia sebelumnya ke dalam kelompok-kelompok tertentu yaitu: 
- *anak* dengan jangkauan usia 0-18 tahun *(1,2,...,18)*,
- *dewasa* dengan jangkauan usia 18-65 tahun *(19,20,...65)*, dan 
- *manula* dengan jangkauan usia 65-99 tahun *(66,67,...,99)*.

Hal yang perlu dilakukan adalah:
- Membuat kolom baru bernama *kelompok_usia* dengan memanggil   *df['kelompok_usia']*.
- Melakukan konversi nilai numerik dari usia menjadi masuk ke dalam beberapa kategori dengan memanggil *pd.cut()* yang diikuti oleh 3 parameter, yaitu:
    - parameter pertama berisi data yang akan di-cut yaitu *df['usia']*
    - parameter kedua berisi list kumpulan nilai integer yang berfungsi sebagai pembatas yaitu *bins = [0, 18, 65, 99]*
    - parameter ketiga berisi label dari kelompok usianya yaitu *labels = ['anak', 'dewasa', 'manula']*.

In [19]:
df['kelompok_usia'] = pd.cut(df['usia'],
                             bins = [0, 18, 65, 99],
                            labels = ['anak', 'dewasa', 'manula'])
df

   usia kelompok_usia
0    78        manula
1    30        dewasa
2    87        manula
3    30        dewasa
4    79        manula
5     4          anak
6    88        manula
7    38        dewasa
8    82        manula
9    28        dewasa