# Pandas 12 - Membentuk Kolom Bertipe *datetime* dari Beberapa Kolom Lain pada Pandas Data Frame

#Import Modules

Module yang digunakan adalah pandas.

In [1]:
import pandas as pd

- Mengecheck versi dari module yang digunakan yaitu pandas

In [2]:
print(pd.__version__)

1.0.5

#Membuat sebuah data frame
- Menyiapkan dictionary *data* yang akan digunakan sebagai skeleton untuk data frame yang terdiri dari 3 kolom, yaitu kolom 'day', 'month', dan 'year' yang merupakan satu kesatuan dan saling berhubungan.
- Membentuk data frame berdasarkan dictionary *data* dengan memanggil *pd.DataFrame(data)*

In [3]:
data = {'day':[1, 2, 10, 25, 12],
        'month':[1, 2, 4, 5, 6],
        'year':[2000, 2001, 2010, 2015, 2020]}

df = pd.DataFrame(data)
df

   day  month  year
0    1      1  2000
1    2      2  2001
2   10      4  2010
3   25      5  2015
4   12      6  2020

#Membuat kolom baru yang bertipe data datetime

Kita akan membuat sebuah kolom baru bernama 'penanggalan' dengan tipe data datetime yang terbentuk dari 3 kolom 'day', 'month', dan 'year'.

- *df['penanggalan']* berfungsi menyiapkan data frame baru dengan nama penanggalan
- *pd.to_datetime(df[['day', 'month', 'year']])* berfungsi untuk menjadikan kolom baru bertipe data datetime dan data-datanya berasal dari 3 kolom 'day', 'month', dan 'year'.

Note : Untuk membuat sebuah kolom bertipe data datetime, 3 kolom asalnya harus bernama 'day', 'month', dan 'year'.

In [4]:
df['penanggalan'] = pd.to_datetime(df[['day', 'month', 'year']])
df

   day  month  year penanggalan
0    1      1  2000  2000-01-01
1    2      2  2001  2001-02-02
2   10      4  2010  2010-04-10
3   25      5  2015  2015-05-25
4   12      6  2020  2020-06-12

- Melihat tipe data dari data frame

In [ ]:
df.dtypes