# 20 - Menggabungkan (Merge) Dua Data Frame secara Berdampingan

Berikut ini adalah cara yang dapat kita lakukan untuk melakukan merging yang berdasarkan kolom.

## Import Modules

### Module yang digunakan :
1. pandas

In [1]:
import pandas as pd

- Mengecheck versi dari module yang digunakan yaitu pandas

In [2]:
print(pd.__version__)

1.0.5

## Membentuk Data Frame dari Dictionary

### Membuat dua buah data frame
- Membuat data frame pertama yang berisi dictionary yang terdiri dari pasangan keys dan values yaitu *col1* yang terdiri dari 1, 2, dan 3 serta *col2* yang terdiri dari 10, 20, dan 30.

In [3]:
d1 = {'col1':[1, 2, 3], 
      'col2':[10, 20, 30]}
df1 = pd.DataFrame(d1)
df1

   col1  col2
0     1    10
1     2    20
2     3    30

- Membuat data frame kedua yang berisi dictionary yang terdiri dari pasangan keys dan values yaitu *col3* yang terdiri dari 4, 5, dan 6 serta *col4* yang terdiri dari 40, 50, dan 60.

In [7]:
d2 = {'col3':[4, 5, 6], 
      'col4':[40, 50, 60]}
df2 = pd.DataFrame(d2)
df2

   col3  col4
0     4    40
1     5    50
2     6    60

## Menggabungkan (merge) dua Data Frame secara berdampingan

- Untuk menggabungkan dua data frame, kita dapat memanggil method *merge()* yang disertai oleh 4 parameter
    - Parameter pertama berisi data frame pertama yang akan digabung
    - Parameter kedua berisi data frame kedua yang akan digabung
    - Parameter ketiga untuk menentukan nilai left_index yaitu True
    - Parameter keempat untuk menentukan nilai right_index yaitu True

In [8]:
df = pd.merge(df1, df2, left_index=True, right_index=True)
df

   col1  col2  col3  col4
0     1    10     4    40
1     2    20     5    50
2     3    30     6    60