# 17 - Resampling Data Deret Waktu (Time Series Data)

## Import Modules

### Module yang digunakan :
1. pandas
2. numpy

In [4]:
import pandas as pd
import numpy as np

- Mengecheck versi dari 2 module yang digunakan (pandas dan numpy)

In [5]:
print(pd.__version__)
print(np.__version__)

1.0.5
1.18.5

## Membuat sebuah Pandas Data Frame.

- Data frame yang akan dibuat memiliki baris sebanyak 365*24, 365 merepresetasikan banyak hari dalam setahun dan 24 merepresentasikan banyak jam dalam sehari.
- Data frame yang akan dibuat memiliki 2 kolom dan setiap kolomnya diberi label *col1* dan *col2*.

> *pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)*

- *pd.DataFrame()* digunakan untuk membuat sebuah objek data frame
- *np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)* artinya data frame akan diisi oleh bilangan integer dengan jangkauan 1-20 (1, 2, 3, ..., 19) yang dipilih secara random. Kemudian, untuk size yang digunakan ditentukan oleh n_rows dan n_cols.
- Mengatur index yang berisi deret waktu dengan memanggil *pd.util.testing.makeDateIndex(n_rows, freq='H')*. Index waktu yang akan dibuat sebanyak *n_rows* dan frekuensi diberikan nilai *H* untuk mengatur intervalnya menjadi 'jam'.

In [8]:
n_rows = 365 * 24
n_cols = 2
cols = ['col1', 'col2']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

df.index = pd.util.testing.makeDateIndex(n_rows, freq='H')
df

                     col1  col2
2000-01-01 00:00:00     9     7
2000-01-01 01:00:00     9     6
2000-01-01 02:00:00     8    12
2000-01-01 03:00:00    16     4
2000-01-01 04:00:00     9    12
...                   ...   ...
2000-12-30 19:00:00    18     1
2000-12-30 20:00:00     1    16
2000-12-30 21:00:00     1    15
2000-12-30 22:00:00    16     1
2000-12-30 23:00:00    18    13

[8760 rows x 2 columns]