# 30 - Akses Nilai Variabel pada `query()`

## Import Modules

### Module yang digunakan :
1. pandas
2. numpy

In [6]:
import pandas as pd
import numpy as np

- Mengecheck versi dari 2 module yang digunakan (pandas dan numpy)

In [7]:
print(pd.__version__)
print(np.__version__)

1.0.5
1.18.5

## Membuat sebuah Pandas Data Frame.

- Data frame yang akan dibuat memiliki 5 baris, 5 kolom, serta untuk setiap kolomnya diberi label A, B, C, D, dan E.

- Untuk mebuat labelnya, kita dapat menggunakan tuple yang dikenakan terhadap String.

- ex : String 'ABCDE' yang dikenakan/dikonversi ke tuple akan menghasilkan tuple 'A', 'B', 'C', 'D', dan 'E'.

> *pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)*

- `pd.DataFrame()` digunakan untuk membuat sebuah objek data frame

- `np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)` artinya data frame akan diisi oleh bilangan integer dengan jangkauan 1-20 (1,2,3,...,19) yang dipilih secara random. Kemudian, untuk size yang digunakan ditentukan oleh n_rows dan n_cols.

In [10]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)
df

    A   B   C   D   E
0  13   3  13   4  12
1  18  10  15   2   1
2  11   1  10  19  16
3   9  10  15   1   8
4   6   5   2   3  15

## Akses Nilai Variabel pada `query()`

`query()` digunakan untuk menyeleksi baris.
> `df.query('A > 10')` digunakan untuk menyeleksi baris-baris yang pada kolom A nya memiliki nilai lebih dari 10.

In [11]:
df.query('A > 10')

    A   B   C   D   E
0  13   3  13   4  12
1  18  10  15   2   1
2  11   1  10  19  16

variabel `rerata` akan menampung nilai mean dari kolom A.

In [12]:
rerata = df['A'].mean()
rerata

11.4

> `df.query('A > @rerata')` digunakan untuk menyeleksi baris-baris yang pada kolom A nya memiliki nilai lebih dari nilai rerata (mean dari kolom A)

#### Note:
Untuk mengakses nilai dalam suatu variabel pada pemanggilan fungsi query, kita perlu menyertakan karakter `@` di awal variabelnya.

In [13]:
df.query('A > @rerata')

    A   B   C  D   E
0  13   3  13  4  12
1  18  10  15  2   1