# 05 - Membalik Urutan Baris dan Kolom pada Python Pandas Data Frame

#Import Modules

Module yang digunakan :
1. pandas
2. numpy

In [1]:
import pandas as pd
import numpy as np

-Mengecheck versi dari 2 module yang digunakan (pandas dan numpy)

In [3]:
print(pd.__version__)
print(np.__version__)

1.0.5
1.18.5

#Membuat sebuah Pandas Data Frame.

-Data frame yang akan dibuat memiliki 5 baris, 5 kolom, serta untuk setiap kolomnya diberi label A, B, C, D, dan E.

-Untuk mebuat labelnya, kita dapat menggunakan tuple yang dikenakan terhadap String.

-ex : String 'ABCDE' yang dikenakan/dikonversi ke tuple akan menghasilkan tuple 'A', 'B', 'C', 'D', dan 'E'.


-pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)

-pd.DataFrame() digunakan untuk membuat sebuah objek data frame

-np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols) artinya data frame akan diisi oleh bilangan integer dengan jangkauan 1-10 (1,2,3,4,5,6,7,8,9) yang dipilih secara random. Kemudian, untuk size yang digunakan ditentukan oleh n_rows dan n_cols.

In [4]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)
df

   A  B  C  D  E
0  2  6  6  2  7
1  1  8  3  8  9
2  2  2  7  5  1
3  1  1  7  4  6
4  3  3  2  4  7

#Membalik Urutan Kolom

Pada data frame yang dibuat sebelumnya, urutan kolom dari kiri ke kanan adalah kolom A-B-C-D-E. Jika kita ingin membalik urutannya menjadi kolom E-D-C-B-A, kita dapat menggunakan method loc.

Method loc memiliki dua bagian, yaitu bagian pertama bertugas untuk mengatur baris dan bagian kedua bertugas untuk mengatur kolom.

df.loc[:, ::-1] 

-Bagian pertama yang digunakan yaitu :, artinya kita tidak akan melakukan modifikasi apapun pada baris dan menyertakan keseluruhan baris.

-Bagian kedua yang digunakan yaitu ::-1, artinya kita akan mengatur stepper nya -1 (untuk melakukan reversing/pembalikan urutan).

In [6]:
df.loc[:, ::-1]

   E  D  C  B  A
0  7  2  6  6  2
1  9  8  3  8  1
2  1  5  7  2  2
3  6  4  7  1  1
4  7  4  2  3  3

#Membalik Urutan Baris

Pada data frame yang dibuat sebelumnya, urutan baris dari atas ke bawah adalah baris dengan index 0-1-2-3-4. Jika kita ingin membalik urutannya menjadi baris dengan index 4-3-2-1-0, kita juga dapat menggunakan method loc.

df.loc[::-1]

-Bagian pertama yang digunakan yaitu ::-1, artinya kita akan mengatur stepper nya -1 (untuk melakukan reversing/pembalikan urutan). 

-Karena kita tidak akan melakukan modifikasi apapun pada bagian kolom, bagian kedua bisa dikosongkan. 

-Jika kita ingin menuliskannya dengan lengkap, kita dapat menuliskannya dengan df.loc[::-1, :]

In [10]:
df.loc[::-1]

   A  B  C  D  E
4  3  3  2  4  7
3  1  1  7  4  6
2  2  2  7  5  1
1  1  8  3  8  9
0  2  6  6  2  7

#Membalik Urutan Baris dan Melakukan Penyesuaian Ulang Index

Jika kita ingin mengubah urutan baris, namun tidak index ingin mengubah indexnya, kita dapat menggunakan method reset_index(drop=True). Method ini akan mereset ulang index dari data frame.

drop=True, artinya index yang lama akan kita buang

In [15]:
df.loc[::-1].reset_index(drop=True)

   A  B  C  D  E
0  3  3  2  4  7
1  1  1  7  4  6
2  2  2  7  5  1
3  1  8  3  8  9
4  2  6  6  2  7