# 29 - Melakukan Random Sampling pada Data Frame

## Import Modules
### Module yang digunakan :
1. pandas

In [9]:
import pandas as pd

- Mengecheck versi dari module yang digunakan yaitu pandas

In [10]:
print(pd.__version__)

1.0.5

## Membuat Data Frame

Data frame sample yang akan digunakan terdiri dari dua kolom, yaitu `col_1`, akan berisi nilai 1, 2, 3, 4, dan 5, dan `col_2`, akan berisi nilai 10, 20, 30, 40, dan 50, yang akan ditampung oleh variabel `d`.

In [11]:
d = {'col_1':[1, 2, 3, 4, 5], 
     'col_2':[10, 20, 30, 40, 50]}
df = pd.DataFrame(d)
df

   col_1  col_2
0      1     10
1      2     20
2      3     30
3      4     40
4      5     50

## Random Sampling With/Without Replacement

### Random Sampling Without Replacement

- Memanggil `df.sample()` yang disertai oleh 3 buah parameter.
    - Parameter pertama yaitu `n=4` merepresentasikan jumlah data akan dilakukan random sampling
    - Parameter kedua yaitu `replace=False` merepresentasikan tidak akan dilakukan replacement pada saat melakukan sampling, artinya data-data dari populasi yang sudah disampling tidak akan disampling ulang. Misalnya, jika data index ke-2 sudah dijadikan sample maka data tersebut tidak akan dijadikan sebagai sample kembali.
    - Parameter ketiga `random_state=0` untuk menjamin suatu eksperimen dapat direplikasi dengan hasil yang sama persis.

In [12]:
df.sample(n=4, replace=False, random_state=0)

   col_1  col_2
2      3     30
0      1     10
1      2     20
3      4     40

### Random Sampling With Replacement

- Memanggil `df.sample()` yang disertai oleh 3 buah parameter.
    - Parameter pertama yaitu `n=4` merepresentasikan jumlah data akan dilakukan random sampling
    - Parameter kedua yaitu `replace=True` merepresentasikan akan dilakukan replacement pada saat melakukan sampling, artinya data-data dari populasi yang sudah disampling akan memiliki kesempatan untuk disampling ulang. Misalnya, jika data index ke-2 sudah dijadikan sample, data tersebut masih memiliki kemungkinan untuk dapat dijadikan sebagai sample kembali.
    - Parameter ketiga `random_state=0` untuk menjamin suatu eksperimen dapat direplikasi dengan hasil yang sama persis.

In [5]:
df.sample(n=4, replace=True, random_state=0)

   col_1  col_2
4      5     50
0      1     10
3      4     40
3      4     40