## Import Modules
### Module yang digunakan :
1. pandas

In [1]:
import pandas as pd

- Mengecheck versi dari module yang digunakan yaitu pandas

In [2]:
print(pd.__version__)

1.0.5

## Membuat Data Frame

- Menggunakan data set iris_error yang memiliki banyak kesalahan pada sumber datanya
- Menampilkan 8 data pertama dengan memanggil `df.head(8)`.

In [3]:
df = pd.read_csv('C:/Users/ASUS/Desktop/Belajar-Python-Pandas//Iris_error.csv')
df.head(8)

    1            5.1           3.5            1.4           0.2   Iris-error
0   2            4.9             3            1.4           0.2   Iris-error
1  Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
2   1            5.1           3.5            1.4           0.2  Iris-setosa
3   2            4.9             3            1.4           0.2  Iris-setosa
4   3            4.7           3.2            1.3           0.2   Iris-error
5   4            4.6           3.1            1.5           0.2   Iris-error
6   5              5           3.6            1.4           0.2  Iris-setosa
7   6            5.4           3.9            1.7           0.4  Iris-setosa

### Memperbaiki error
- Menyertakan parameter `header=2` untuk menjadikan baris index ke-2 menjadi headernya.
- Menyertakan parameter `skiprows=[5,6]` untuk melewati baris-baris pada index tertentu yaitu index ke-5 dan ke-6.

In [4]:
df = pd.read_csv('C:/Users/ASUS/Desktop/Belajar-Python-Pandas//Iris_error.csv', header=2, skiprows=[5,6])
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   5            5.0           3.6            1.4           0.2  Iris-setosa
3   6            5.4           3.9            1.7           0.4  Iris-setosa
4   7            4.6           3.4            1.4           0.3  Iris-setosa