# 44 - Menata Ulang Penempatan Kolom pada Data Frame

## Import Modules

### Module yang digunakan :
1. pandas
2. numpy

In [7]:
import pandas as pd
import numpy as np

- Mengecheck versi dari 2 module yang digunakan (pandas dan numpy)

In [8]:
print(pd.__version__)
print(np.__version__)

1.0.5
1.18.5

## Membuat sebuah Pandas Data Frame.

- Data frame yang akan dibuat memiliki 5 baris, 5 kolom, serta untuk setiap kolomnya diberi label A, B, C, D, dan E.

- Untuk mebuat labelnya, kita dapat menggunakan tuple yang dikenakan terhadap String.

- ex : String 'ABCDE' yang dikenakan/dikonversi ke tuple akan menghasilkan tuple 'A', 'B', 'C', 'D', dan 'E'.

> `pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)`

- `pd.DataFrame()` digunakan untuk membuat sebuah objek data frame

- `np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)` artinya data frame akan diisi oleh bilangan integer dengan jangkauan 1-10 (1,2,3,..,9) yang dipilih secara random. Kemudian, untuk size yang digunakan ditentukan oleh n_rows dan n_cols.

In [9]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns=cols)
df.head()

   A  B  C  D  E
0  6  4  4  4  2
1  9  7  9  2  9
2  1  7  9  5  4
3  6  6  1  2  4
4  1  4  9  8  3

## Menata Ulang Penempatan Kolom pada Data Frame

- Menata ulang penempatan kolom dengan urutan D, C, A, E, B dengan memanggil `df[['D', 'C', 'A', 'E', 'B']]`

#### Note :
Penataan ulang kolom dengan cara ini tidak bersifat in place, artinya proses penataan ulang ini akan menghasilkan data frame baru sesuai dengan urutan yang ditentukan

In [11]:
df[['D', 'C', 'A', 'E', 'B']]

   D  C  A  E  B
0  4  4  6  2  4
1  2  9  9  9  7
2  5  9  1  4  7
3  2  1  6  4  6
4  8  9  1  3  4

- Menampilkan data frame `df`

In [5]:
df

   A  B  C  D  E
0  4  5  6  2  7
1  8  5  7  8  1
2  4  6  8  7  3
3  4  6  7  6  8
4  4  6  4  7  5

- Melakukan penataan ulang kolom yang akan diterapkan di dalam variabel df dengan memanggil `df = df[['D', 'C', 'A', 'E', 'B']]`

In [6]:
df = df[['D', 'C', 'A', 'E', 'B']]
df

   D  C  A  E  B
0  2  6  4  7  5
1  8  7  8  1  5
2  7  8  4  3  6
3  6  7  4  8  6
4  7  4  4  5  6